/*
  gray: rgb(52, 53, 58) / 868795
  white: rgb(88, 88, 88) / e1e1e1
  orange: rgb(96, 57, 23) / f5933d
  gray-border: rgb(76, 76, 76) / c2c2c2
*/

@font-face {
  font-family: 'Roboto-Light';
  src: local('Roboto-Light'), url(./fonts/Roboto-Light.ttf) format('truetype');
}

* {
  box-sizing: border-box;
  font-family: 'Roboto-Light', serif;
}

ul {
  list-style-type: none;
  width: 50%;
  height: 3em;
  display: flex;
  margin: 0 auto;
}

li {
  display: inline-block;
  background-color: #f5933d;
  flex: 1 1 auto;
  display: flex;
  justify-content: center;
  align-items: center;
}

li:hover {
  background-color: #868795;
}

a {
  text-decoration: none;
  color: #f3f2f2;
  font-size: 1em;
}

.routes-container {
  margin: 0 auto;
  width: 100%;
}

.parent {
  width: 700px;
  margin: 0 auto;
  margin-top: 10%;
}

.container {
  border-spacing: 0;
  display: flex;
  flex-flow: row wrap;
}

.key {
  padding: 0;
  height: 4em;
  background-color: #868795;
  display: flex;
  justify-content: center;
  align-items: center;
}

.display {
  display: flex;
  align-items: center;
  flex-direction: row-reverse;
  font-size: 2em;
  background-color: #868795;
  height: 100px;
  color: white;
}

.key,
.display {
  border: 1px solid #c2c2c2;
}

.orange {
  background-color: #f5933d;
}

.quote,
.home {
  min-height: 70vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.home {
  flex-direction: column;
}

@media (min-width: 800px) {
  .routes-container {
    width: 80%;
  }
}