/*
  gray: rgb(52, 53, 58) / 868795
  white: rgb(88, 88, 88) / e1e1e1
  orange: rgb(96, 57, 23) / f5933d
  gray-border: rgb(76, 76, 76) / c2c2c2
*/

@font-face {
  font-family: 'Roboto-Light';
  src: local('Roboto-Light'), url(./fonts/Roboto-Light.ttf) format('truetype');
}

#root {
  width: 60%;
  margin: 0 auto;
  margin-top: 10%;
  font-family:'Roboto-Light', serif;
}

table {
  width: 100%;
  border-spacing: 0;
}

th {
  width: 25%;
  padding: 0;
}

.zero {
  width: 50%;
}

tr {
  height: 4em;
  background-color: #868795;
}

.display {
  display: flex;
  align-items: center;
  flex-direction: row-reverse;
  font-size: 2em;
  background-color: #868795;
  height: 2em;
  color: white;
}

th {
  background-color: #e1e1e1;
}

th:last-child {
  background-color: #f5933d;
}

th, .display {
  border: 1px solid #c2c2c2;
}
